
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Finding Gold</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <style>
        .won {
            color: green
        }
        .lost {
            color: red
        }
        .activities {
            overflow: scroll;
            height: 149px;
            width: 98%;
        }
        span {
            color:rgb(175, 140, 25)
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row bg-dark text-warning d-flex justify-content-center jumbotron">
            <h1>Finding Gold!</h1>
        </div>
        <div class="row score mb-2">
            <h4>Your(count) Gold: <span> {{ session['total_gold'] }} </span></h4>
        </div>

        <div class="row">
            <div class="place border border-dark rounded col-md-3 pt-2 pb-4">
                <h3 class="d-flex justify-content-center">Farm</h3>
                <p class="d-flex justify-content-center">earn 10-20 gold</p>
                <form action="/process_money" method="post" class="d-flex justify-content-center">
                    <input type="hidden" name="building" value="farm" />
                    <input type="submit" value="Find Gold!" class="btn btn-warning" />
                </form>
            </div>
            <div class="place border border-dark rounded col-md-3 pt-2 pb-4">
                <h3 class="d-flex justify-content-center">Cave</h3>
                <p class="d-flex justify-content-center">earn 5-10 gold</p>
                <form action="/process_money" method="post" class="d-flex justify-content-center">
                    <input type="hidden" name="building" value="cave" />
                    <input type="submit" value="Find Gold!" class="btn btn-warning" />
                </form>
            </div>
            <div class="place border border-dark rounded col-md-3 pt-2 pb-4">
                <h3 class="d-flex justify-content-center">House</h3>
                <p class="d-flex justify-content-center">earn 2-5 gold</p>
                <form action="/process_money" method="post" class="d-flex justify-content-center">
                    <input type="hidden" name="building" value="house" />
                    <input type="submit" value="Find Gold!" class="btn btn-warning" />
                </form>
            </div>
            <div class="place border border-dark rounded col-md-3 pt-2 pb-4">
                <h3 class="d-flex justify-content-center">Casino</h3>
                <p class="d-flex justify-content-center">earn/lose 0-50 gold</p>
                <form action="/process_money" method="post" class="d-flex justify-content-center">
                    <input type="hidden" name="building" value="casino" />
                    <input type="submit" value="Find Gold!" class="btn btn-warning" />
                </form>
            </div>
        </div>

        <div class="row mt-2">
            <h5><u>Activities</u>:</h5>
            <div class="activities border border-dark pl-3 mb-2">
                <p>{{ session['message']|safe }}</p>
            </div>

        </div>

        <div class="footer">
            <a href="/reset" class="btn btn-dark text-warning" role="button" name="reset">New Game</a>
        </div>

    </div>
</body>
</html>